<div class="px-4 py-5 my-5 text-center">
  <%= image_tag "VetImage.jpg", class: "d-block mx-auto mb-4 img-fluid rounded shadow", alt: "Welcome to VetClinic", style: "max-height: 400px; object-fit: cover;" %>
  
  <h1 class="display-5 fw-bold text-body-emphasis">Welcome to VetClinic!</h1>
  
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Your trusted partner in pet healthcare. We provide top-notch medical services, from routine checkups to complex surgeries, ensuring your furry friends live happy and healthy lives.</p>
    
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to 'View Registered Pets', pets_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
      <%= link_to 'Schedule & Appointments', appointments_path, class: "btn btn-outline-secondary btn-lg px-4" %>
    </div>
  </div>
</div>